<a href="https://colab.research.google.com/github/ChitraChaudhari/GC_DataEngineering_Bootcamp/blob/main/EDA/Pandas_Dataframe_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**DataFrames**

- a complex datastructure which uses several Series 
objects underneath it. 
- used to represent table data. 
- Similar to a table, DataFrames have columns, column names, and rows with row indexes.

In [1]:
import pandas as pd
df = pd.DataFrame({
                'marks': [70, 66, 100, 88], 'age': [29, 32, 31, 28], \
                'sex': ['F', 'M', 'F', 'F'], 'name':['Jane', 'John', \
                'Sally', 'Sandy'], 'ssn':['1234', '3456', '4567', '5678']
                })
print(df)

   marks  age sex   name   ssn
0     70   29   F   Jane  1234
1     66   32   M   John  3456
2    100   31   F  Sally  4567
3     88   28   F  Sandy  5678

In [2]:
data = {'color' : ['blue','green','yellow','red','white'],
        'object': ['ball','pen','pencil','paper','mug'],
        'price':[1.2,1.0,0.6,0.9,1.7]}

data

{'color': ['blue', 'green', 'yellow', 'red', 'white'],
 'object': ['ball', 'pen', 'pencil', 'paper', 'mug'],
 'price': [1.2, 1.0, 0.6, 0.9, 1.7]}

In [3]:
frame = pd.DataFrame(data)
frame

    color  object  price
0    blue    ball    1.2
1   green     pen    1.0
2  yellow  pencil    0.6
3     red   paper    0.9
4   white     mug    1.7

In [4]:
type(frame)

pandas.core.frame.DataFrame

In [5]:
frame2 = pd.DataFrame(data, columns=['object','price'])
frame2

   object  price
0    ball    1.2
1     pen    1.0
2  pencil    0.6
3   paper    0.9
4     mug    1.7

In [6]:
frame3 = pd.DataFrame(data, index=['one','two','three','four','five'])
frame3

        color  object  price
one      blue    ball    1.2
two     green     pen    1.0
three  yellow  pencil    0.6
four      red   paper    0.9
five    white     mug    1.7

. Instead of using a dict object, you can define within the constructor
three arguments, in the following order: **a data matrix**, then an array containing the labels assigned to the
**index** option, and finally an array containing the names of the **columns** assigned to the columns option.

In [7]:
import numpy as np

frame4 = pd.DataFrame(np.arange(16).reshape((4,4)),
                      index = ['red','blue','yellow','white'],
                      columns= ['ball','pen','pencil','paper'])

frame4

        ball  pen  pencil  paper
red        0    1       2      3
blue       4    5       6      7
yellow     8    9      10     11
white     12   13      14     15

In [8]:
frame

    color  object  price
0    blue    ball    1.2
1   green     pen    1.0
2  yellow  pencil    0.6
3     red   paper    0.9
4   white     mug    1.7

In [9]:
# if we want to know the name of all the columns of a DataFrame
frame.columns

Index(['color', 'object', 'price'], dtype='object')

In [10]:
#  to get the list of indexes
frame.index

RangeIndex(start=0, stop=5, step=1)

In [11]:
# you can get the entire set of data using the values attribute.
frame.values

array([['blue', 'ball', 1.2],
       ['green', 'pen', 1.0],
       ['yellow', 'pencil', 0.6],
       ['red', 'paper', 0.9],
       ['white', 'mug', 1.7]], dtype=object)

In [12]:
frame['price']

0    1.2
1    1.0
2    0.6
3    0.9
4    1.7
Name: price, dtype: float64

In [13]:
frame.price

0    1.2
1    1.0
2    0.6
3    0.9
4    1.7
Name: price, dtype: float64

In [14]:
frame[0:1]

  color object  price
0  blue   ball    1.2

In [15]:
frame[1:3]

    color  object  price
1   green     pen    1.0
2  yellow  pencil    0.6

In [16]:
frame['object'][1]

'pen'

In [17]:
mixrow = frame[0:1]
mixrow

  color object  price
0  blue   ball    1.2

In [18]:
type(mixrow)

pandas.core.frame.DataFrame

In [19]:
frame.index.name = 'id'
frame.columns.name = 'item'
frame

item   color  object  price
id
0       blue    ball    1.2
1      green     pen    1.0
2     yellow  pencil    0.6
3        red   paper    0.9
4      white     mug    1.7

In [20]:
# add new column
frame['new'] =12
frame

item   color  object  price  new
id
0       blue    ball    1.2   12
1      green     pen    1.0   12
2     yellow  pencil    0.6   12
3        red   paper    0.9   12
4      white     mug    1.7   12

In [21]:
frame['new'] = [3.0,1.3,2.2,0.8,1.1]
frame

item   color  object  price  new
id
0       blue    ball    1.2  3.0
1      green     pen    1.0  1.3
2     yellow  pencil    0.6  2.2
3        red   paper    0.9  0.8
4      white     mug    1.7  1.1

In [22]:
ser = pd.Series(np.arange(5))
ser

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [23]:
frame['new'] =ser
frame

item   color  object  price  new
id
0       blue    ball    1.2    0
1      green     pen    1.0    1
2     yellow  pencil    0.6    2
3        red   paper    0.9    3
4      white     mug    1.7    4

In [24]:
frame.nlargest(3,'price')

item  color object  price  new
id
4     white    mug    1.7    4
0      blue   ball    1.2    0
1     green    pen    1.0    1

In [25]:
frame.nlargest(3,['price','new'])

item  color object  price  new
id
4     white    mug    1.7    4
0      blue   ball    1.2    0
1     green    pen    1.0    1

In [26]:
frame.nlargest(3,['new','price'])

item   color  object  price  new
id
4      white     mug    1.7    4
3        red   paper    0.9    3
2     yellow  pencil    0.6    2

In [27]:
df = pd.DataFrame({
                'marks': [70, 66, 100, 88], 'age': [29, 32, 31, 28], \
                'sex': ['F', 'M', 'F', 'F'], 'name':['Jane', 'John', \
                'Sally', 'Sandy'], 'ssn':['1234', '3456', '4567', '5678']
                })
print(df)

   marks  age sex   name   ssn
0     70   29   F   Jane  1234
1     66   32   M   John  3456
2    100   31   F  Sally  4567
3     88   28   F  Sandy  5678

In [28]:
df.set_index('ssn',inplace=True)
df

      marks  age sex   name
ssn
1234     70   29   F   Jane
3456     66   32   M   John
4567    100   31   F  Sally
5678     88   28   F  Sandy

In [29]:
df = pd.DataFrame({
                'marks': [70, 66, 100, 88], 'age': [29, 32, 31, 28], \
                'sex': ['F', 'M', 'F', 'F'], 'name':['Jane', 'John', \
                'Sally', 'Sandy'], 'ssn':['1234', '3456', '4567', '5678']
                })
print(df)

   marks  age sex   name   ssn
0     70   29   F   Jane  1234
1     66   32   M   John  3456
2    100   31   F  Sally  4567
3     88   28   F  Sandy  5678

In [30]:
df.index = df['ssn']
df

      marks  age sex   name   ssn
ssn
1234     70   29   F   Jane  1234
3456     66   32   M   John  3456
4567    100   31   F  Sally  4567
5678     88   28   F  Sandy  5678

In [31]:
df.drop('ssn',axis =1, inplace = True)
df

      marks  age sex   name
ssn
1234     70   29   F   Jane
3456     66   32   M   John
4567    100   31   F  Sally
5678     88   28   F  Sandy

In [32]:
df.sort_values(by=['marks'],inplace=True)
df

      marks  age sex   name
ssn
3456     66   32   M   John
1234     70   29   F   Jane
5678     88   28   F  Sandy
4567    100   31   F  Sally

In [33]:
df.sort_values(by=['age','marks'],inplace=True)
df

      marks  age sex   name
ssn
5678     88   28   F  Sandy
1234     70   29   F   Jane
4567    100   31   F  Sally
3456     66   32   M   John

In [34]:
df1 = df.reindex(df.columns.sort_values(),axis=1)
df1

      age  marks   name sex
ssn
5678   28     88  Sandy   F
1234   29     70   Jane   F
4567   31    100  Sally   F
3456   32     66   John   M

#**iloc**

In [35]:
# To retrieve an element purely on its index number, you use iloc.
a = pd.Series([100,200,300],index=['a','b','c'])
a.iloc[1]

200

**iloc on DataFrame**

For a DataFrame you can give both row and column index numbers to retrieve values.

Now let us understand how to retrieve values in specific row(s) and column(s) using the loc function in a DataFrame:

`dataFrame.iloc[<row selection>, <column selection>]` is used to select rows and columns by index number, in the order that they appear in the DataFrame. Row and column indexes start with 0 and span up to the length of the rows/columns - 1. Therefore, the last row index can be calculated by:

`df.shape[0] -1`

And to calculate the last column index, it would be

`df.shape[1] -1`

**iloc returns a scalar, Series or a DataFrame based on the results returned.** If only a single value is returned it would be one of the basic data types of NumPy. If a collection of one type is returned then a Series object. If two dimensional results are returned then it would be a DataFrame

In [36]:
row1=df1.iloc[0]
row1

age         28
marks       88
name     Sandy
sex          F
Name: 5678, dtype: object

In [37]:
type(row1)

pandas.core.series.Series

In [38]:
df1.iloc[0,1]

88

In [39]:
df1.iloc[-1]

age        32
marks      66
name     John
sex         M
Name: 3456, dtype: object

In [40]:
df1.iloc[0:3]

      age  marks   name sex
ssn
5678   28     88  Sandy   F
1234   29     70   Jane   F
4567   31    100  Sally   F

In [41]:
df1.iloc[0:3,0:2]

      age  marks
ssn
5678   28     88
1234   29     70
4567   31    100

In [42]:
df = pd.DataFrame({
                'marks': [70, 66, 100, 88], 'age': [29, 32, 31, 28], \
                'sex': ['F', 'M', 'F', 'F'], 'name':['Jane', 'John', \
                'Sally', 'Sandy'], 'ssn':['1234', '3456', '4567', '5678']
                })

row_values = df.loc[0]
print(type(row_values))

<class 'pandas.core.series.Series'>

In [43]:
row_column = df.loc[[1, 3], 'name']
print(row_column)  # Series is returned

1     John
3    Sandy
Name: name, dtype: object

In [44]:
row_column = df.loc[1, ['name', 'age']]
print(row_column)  # Series is returned

name    John
age       32
Name: 1, dtype: object

In [45]:
row_column = df.loc[[1, 3], ['name','age']]
print(row_column)  # DataFrame is returned

    name  age
1   John   32
3  Sandy   28